@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP");
body {
  font-family: "Noto Serif JP", sans-serif;
}

header {
  border-bottom: solid;
  border-color: rgb(229 231 235 222);
  border-bottom-width: 1px;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin-right: 1.25rem;
}

.container {
}

.checkbox-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

h3 {
  text-align: center;
}

.checkbox {
  margin: 3px;
}

.graph-wrapper {
  margin-top: 20px;
}
